.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(22, 143, 218);
  padding: 30px;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

.todo-list {
  background: rgb(231, 235, 240);
  border-radius: 4px;
  padding: 5px;
  max-height: 100%;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(201, 205, 211);
  margin: 10px 10px;
  border: 1px solid rgb(201, 205, 211);
  border-radius: 5px;
  padding: 4px;
}

.input {
  justify-content: center;
  text-align: center;
  margin: 10px 10px;
  border: 1px solid rgb(201, 205, 211);
  border-radius: 5px;
  padding: 10px;
}

.btn {
  margin-left: 5px;
}

.todo-text {
  margin-right: 20px;
}



